# General
.prettierignore
.solhintignore
.husky
.gitignore
.gitattributes
.gitmodules
.env.example
.env
workspace.code-workspace
.DS_STORE
.github/CODEOWNERS
.gas-snapshot
LICENSE
Makefile
*.sh
*.yml

# Foundry
cache/
out/
foundry.toml
remappings.txt

# Node
node_modules
package-lock.json
yarn.lock